.window {
  width: 100vw;
  height: 90vh;
  z-index: 100;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.modal {
  width: 50vw;
  height: 50vh;
  z-index: 101;
  background: white;
  position: absolute;
  display: flex;
  left: 25vw;
  top: 25vh;
}
