<body ng-controller="profileCtrl">
  profile
  <button type="button" name="button" ui-sref="profile.purchaseTokens">Purchase Tokens</button>
  <button type="button" name="button" ng-click="logout()">Log out</button>
  <div ui-view="profile"></div>

  <section>
    new job?
    <button type="button" name="button" ui-sref="employerSide">Looking to hire?</button>
    <button type="button" name="button" ui-sref="employeeSide">Looking for work?</button>
  </section>
  <section>
    <div class="myPostings" ng-repeat="post in postings">
      Title: {{post.title}} <br>
      Description: {{post.description}} <br>
      Key Words: {{post.key_words}} <br>
      Starting Bid: {{post.starting_bid}} <br>
      {{post.hours}}
    </div>
  </section>
</body>
